@font-face {
    font-family: hairline; /*title*/
    src: url(fonts/Montserrat-Hairline.otf);
}
@font-face {
    font-family: light; /*text*/
    src: url(fonts/Montserrat-Light.otf);
}
@font-face {
    font-family: regular; /*bold*/
    src: url(fonts/Montserrat-Regular.otf);
}
html{
	font-family: light;
}
.title{
	font-family: hairline;
}
.bold{
	 font-family: regular;
}

.svg-wrapper {
  height: 3em;
  width: 30em;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.shape {
  fill: transparent;
  stroke-dasharray: 0 5em 20em 5em 0 36em;
  stroke-dashoffset: 33em;
  stroke-width: 2px;
  stroke: #01ABAA;
}

.url {
outline: none;
  line-height: 3em;
  position: relative;
  padding: 0;
  top: -3.4em;
  border: none;
  background-color: rgba(0,0,0,0);
  height: 3em;
  width: 27em;
  margin-right: 3em;
  text-indent: 3em;
  text-align: center;
}
.url:focus::-webkit-input-placeholder { color:transparent; }
.url:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.url:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.url:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@keyframes draw {
  0% {
    stroke-dasharray: 20em 33em;
    stroke-dashoffset: -33em;
    stroke-width: 5px;
  }
  100% {
    stroke-dasharray: 66em;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.3s draw linear forwards;
  animation: 0.3s draw linear forwards;
}

.search{
	width: 2.3em;
	height: 2.3em;
	position: relative;
	top: -6em;
	left: 13.4em;
	opacity: 0.0;
}
.search:hover{
	cursor: pointer;
	cursor: hand; 
}

.svg-wrapper:hover .search{
	opacity: 0.8;
  -webkit-transition: opacity 1s ease;
}
